<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="Url" value="http://ETPL001-PC:93/WFServer/"/>
    <add key="ExternalUrl" value="http://ETPL001-PC:93/documentum/submit"/>
	  <add key="BaseImagePath" value="D:\RELEASE_SERVER\release\WavesExpress\WavesIsapi\Data\IMAGE"/>
	  <add key="PDFConverterExePath" value="D:\RELEASE_SERVER\codes\Yogeswaran\Products\ExporterModule\SearchOCR\App"/>
    <add key="ExternalUrlfieldname" value="data"/>
    <add key="Paths_JsonReqResponse" value="D:\RELEASE_SERVER\codes\Yogeswaran\Products\ExporterModule\Exporter\Xmls"/>
    <add key="Paths_SampleData" value="D:\RELEASE_SERVER\codes\Yogeswaran\Products\ExporterModule\Exporter\SampleData"/>
    <add key ="LoginId" value="sushma"/>
    <add key ="Password" value="admin1"/>
    <add key ="Modulo" value=""/>
    <add key ="LogExpiryDuration" value="3"/>
	<add key ="Searchable" value="0"/>
  </appSettings>
</configuration> 
